header
  .container
    include ../../blocks/header__menu/header__menu

    .header
      .header__title Лучшие услуги
      .header__hire
        a(href="#") Нанять
//- img(src="images/header/bg-1.jpg", alt="bg-1")