.header__menu
  .logo
    figure
      img(src="images/header__menu/logo-1.png", alt="logo")
    
  
  ul.logo__menu
    li
      a.logo__li.logo__li_active(href="#" ) Главная
    li
      a.logo__li(href="#") Проекты
    li
      a.logo__li(href="#") Обо мне
    li
      a.logo__li(href="#") Отзывы
    li
      a.logo__li(href="#") Контакты