.header__menu
  .logo
    figure
      img(src="images/header__menu/logo-1.png", alt="logo")
  ul.logo__menu
    li
      a.logo__li.logo__li_active(href="index.html" ) Главная
    li
      a.logo__li(href="projects.html") Проекты
    li
      a.logo__li(href="about.html") Обо мне
    li
      a.logo__li(href="reviews.html") Отзывы
    li
      a.logo__li(href="contacts.html") Контакты