.header__menu
  .logo
    figure
      img(src="images/header__menu/logo-1.png", alt="logo")
    
  
  ul.logo__menu
    li
      a(href="#") Главная
    li
      a(href="#") Проекты
    li
      a(href="#") Обо мне
    li
      a(href="#") Отзывы
    li
      a(href="#") Контакты