.swiper_content
  .swiper-wrapper
    .swiper-slide
      .swipertop Работы wabpack
        .swiper-wrapper
          .swiper-slide
            a(href="https://akira360-v.github.io/waxom/", target="_blank")
              img(src="images/project/waxom.jpg", alt="1")
          .swiper-slide
            a(href="https://akira360-v.github.io/shapeup/", target="_blank")
              img(src="images/project/shapeup.jpg", alt="1")
          .swiper-slide
            //- a(href="https://akira360-v.github.io/ielts/", target="_blank")
            img(src="images/project/bg0.jpg", alt="1")
    .swiper-slide
      .swiperbottom Работы gulp
        .swiper-wrapper
          .swiper-slide
            a(href="https://akira360-v.github.io/ielts/", target="_blank")
              img(src="images/project/ielts.jpg", alt="1")
          .swiper-slide
            //- a(href="https://akira360-v.github.io/waxom/", target="_blank")
            img(src="images/project/bg0.jpg", alt="1")
          .swiper-slide
            //- a(href="https://akira360-v.github.io/shapeup/", target="_blank")
            img(src="images/project/bg0.jpg", alt="1")
